/************
Start of Reset
*************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/************
End of Reset
*************/

body {
    background: #333;
    display: flex;
    justify-content: center;
    color: #212121;
}

.container {
    background: white;
    width: 80%;
    min-height: 100%;
}

.content {
    margin-right: 50px;
    margin-left: 50px;
}


/********************
Start of header styling
********************/
.header {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #b5676f;
}

.heading {
    display: flex;
    align-items: center;
}

.header > h1 {
    background: #c13240;
    border-radius: 5px;
    padding: 8px;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
}

.tv {
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: white;
    /*    color: #c13240;*/
    color: #DA5663;
}

.fas {
    color: white;
    font-size: 30px;
    margin-left: 7px;
}

.header > h1:hover {
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
}

li {
    font-size: 35px;
    margin-right: 20px;
}

li a {
    color: #ccc;
    text-decoration: none;
}

.fa-facebook-square {
    transition-duration: 1s;
}

.fa-instagram {
    transition-duration: 1s;
}

.fa-twitter-square {
    transition-duration: 1s;
}

.fa-facebook-square:hover {
    color: #3B5998;
}

.fa-instagram:hover {
    color: #262626;
}

.fa-twitter-square:hover {
    color: #1DA1F2;
}

/********************
End of header styling
********************/


/********************
Start of form styling
********************/
.add-to-list {
    flex-direction: row;
    background: #e5e5e5;
    padding: 40px 20px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

.input-field {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
    height: 40px;
}

.input-field:focus {
    outline: none;
    border: 2px solid #c13240;
    border-radius: 5px;
}

.entry-form {
    display: flex;
}

.entry-form > input {
    margin-right: 10px;
    width: 60%;
}

/******************
Start of Add button
******************/
.add-button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 41.5px;
    border: none;
    background: #c13240;
    border-radius: 5px;
    outline: none;
    transition-duration: 0.2s;
    font-size: 40px;
    color: white;
}

.add-button:hover {
    cursor: pointer;
    background: #9E1926;
}

.add-button:active {
    background: #DA5663;
}

/******************
End of Add button
******************/
/********************
End of form styling
********************/



/********************
Start of data styling
********************/
.titles {
    display: flex;
}

.show-list {
    display: none;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 5px;
    color: #515151;
    font-family: sans-serif;
    border: 1px solid #ccc;
}

.show-item {
    display: flex;
    align-items: center;
    padding: 20px;
    transition-duration: 0.2s;
    border-bottom: 1px solid #e5e5e5;
}

.show-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.show-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.show-item:nth-child(odd) {
    background-color: #f2f2f2;
}

.show-item:hover {
    background-color: #e6ffff;
    cursor: not-allowed;
}

.show-name {
    text-transform: capitalize;
    padding-left: 10px;
    display: flex;
    flex-grow: 1;
    margin-right: 20px;
    text-transform: capitalize;
    align-items: center;
    border: 1px solid #ccc;
    height: 40px;
    border-radius: 5px;
}

.show-season {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 5;
    margin-right: 20px;
    border: 1px solid #ccc;
    height: 40px;
    border-radius: 5px;
}

.show-episode {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 5;
    margin-right: 20px;
    border: 1px solid #ccc;
    height: 40px;
    border-radius: 5px;
}

.update-field {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 10px;
    width: 100%;
}

.show-data {
    font-weight: 600;
}

.new-buttons {
    display: flex;
    flex-grow: 1;
}

.watch-ep-btn {
    border-radius: 5px;
    border: none;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 10;
    align-items: center;
    background: #41A72B;
    height: 41.5px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.watch-ep-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.watch-ep-btn span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.watch-ep-btn:hover span {
    padding-right: 25px;
}

.watch-ep-btn:hover span:after {
    opacity: 1;
    right: 0;
}

.watch-ep-btn:active {
    background: #5EBC4A;
}

.remove-btn {
    border-radius: 5px;
    border: none;
    transition: all 0.5s;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background: #c13240;
    text-decoration: none;
    height: 41.5px;
    color: white;
}

.remove-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.remove-btn span:after {
    content: 'x';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.remove-btn:hover span {
    padding-right: 25px;
}

.remove-btn:hover span:after {
    opacity: 1;
    right: 0;
}

.remove-btn:active {
    background: #DA5663;
}

/********************
End of data styling
********************/


.title-style {
    border-right: 1px solid #ccc;
    padding: 12px;
    margin-right: 20px;
    background: #e5e5e5;
}

.footer {
    position: static;
    bottom: 0;
    display: flex;
    align-items: center;
    background: #333;
    height: 100px;
}

.red-line {
    background: white;
    ;
    height: 40px;
    width: 100%;
    margin-top: 40px;
    border-top: 1px solid #c13240;
}

.copy {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    background: #333;
    color: white;
    width: 100%;
    height: 40px;
}

@media(max-width: 900px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    .header {
        flex-direction: column;
        overflow: hidden;
    }

    .header-right {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .icons {
        margin-left: 20px;
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }

    .search-bar {
        width: 100%;
        margin-top: 10px;
    }

    .btn {
        display: flex;
        flex-direction: row;
    }

    .title-style {
        display: none;
    }

    .show-list {
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .show-item {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        padding-bottom: 40px;
        border-radius: 5px;
    }

    .show-name {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        border: none;
    }

    .show-season {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0;
        padding: 0;
        border: none;
    }

    .show-episode {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0;
        padding: 0;
        border: none;
    }

    .new-buttons {
        flex-direction: column;
    }

    .update-field {
        margin: 0;
        padding: 0;
    }

    .watch-ep-btn {
        display: flex;
        justify-content: center;
        align-content: center;
        border: none;
        margin: 0px;
        margin-bottom: 10px;
        padding: 0 10px;
    }

    .remove-btn {
        display: flex;
        justify-content: center;
        align-content: center;
        border: none;
        margin: 0;
        padding: 0;
    }

    .copy {
        display: flex;
    }

    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40px;
    }

    .entry-form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .entry-form > .input-field {
        margin-top: 5px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .add-button {
        margin-top: 10px;
        height: 40px;
        width: 100%;
    }

}
